.header-container {
    /* left: 15px top: 25px */
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 25px;
    margin-top: 15px;
    width: 310px;
    /*place-content: baseline center;*/
    /*align-items: center;*/

}

.header-container > .bt-menu-settings {
    flex: auto;
    height: 40px;
    width: 40px;
    flex-direction: row;
    justify-content: flex-end;
}

.header-container > .bt-menu-profiles {
    flex: auto;
    height: 60px;
    width: 60px;
}

.header-container > .bt-menu-matches {
    flex: auto;
    height: 40px;
    width: 40px;
}