#cover {
}

#cover-photo {
    display: flex;
    margin-top: 35px;
    margin-left: 72px;
    object-fit: contain;
    /*
    height: 215px;
    width: 215px;
    */
    /*background-color: white;*/
    /*
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    */
    height: 207px;
    width: 207px;
    border-radius: 50%;
    border: 4px solid white;
}

#cover-tag {
    display: block;
    width: 128px;
    margin-top: -29px;
    padding-left: 116px;
    position: relative;
    z-index: 100;
}

#cover-tag > #tag-name {
    display: flex;
    background-color: var(--light-blue);
    border-radius: 10px 10px 0 0;
    color: white;
    height: 29px;
    font-size: 14px;
    /*line-height: 17px;*/
    font-weight: var(--semi-bold);
    justify-content: center;
    /*align-content: center;*/
}

#cover-tag > #tag-location {
    display: flex;
    background-color: white;
    border-radius: 0 0 10px 10px;
    height: 29px;
    /*align-content: center;*/
    justify-content: center;
    font-size: 13px;
    line-height: 16px;
}

#details-options {
    margin-top: -23px;
}

#option-description {
    margin-left: 68px;
}

#option-media {
    margin-left: 152px;
}

#option-share {
    margin-left: 15px;
    margin-bottom: 8px;
}

#details-box {
    margin-left: 33px;
    width: 295px;
    height: 258px;
}

#details-media {

}

.genre-chip,
.role-chip {
    display: inline-block;
    background: var(--verdigris);
    padding: 0 12px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
}

#details-keywords {
    display: flex;
    padding-top: 19px;
    justify-content: space-between;
}

#details-genres {
    font-weight: var(--semi-bold);
}

#details-roles {
}

#details-description {
    padding-top: 12px;
    font-size: 12px;
    font-weight: var(--semi-bold);
    line-height: 19px;
}