.mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

.mockup-image {
    width: 360px;
    height: 640px;
}

:root {
    --tickle-me-pink: #FF83A6;
    --pineapple: #56335C;
    --verdigris: #41A7B3;
    --light-blue: #A5D7DA;
}

body {
    font-family: 'Montserrat', sans-serif;
}